{% if user %}
<style>pre{white-space:wrap}</style>
<div>Logged in as <strong>{{user.username}}</strong>(<a href="{{ url_for('.logout') }}">Log Out</a>) </div>
{% endif %}
<div>back to <a href="{{ url_for('.home') }}">home</a></div>


<h2>store</h2>

<form action="" method="post">
    data : <br>
    <textarea name="data" id="" cols="30" rows="10"></textarea>
    <br>
    category : <input type="text" name="category" placeholder="category">
    <br>
    timestamp : <input type="text" name="timestamp" placeholder="timestamp">
    <button type="submit">submit</button>
</form>